# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Zip files for Blackboard
.zip

# Images
.jpg
.png
test-images/*
training-images/*
aligned-images/*
AdversarialFaceRecognition/aligned-images/
AdversarialFaceRecognition/embeddingoutputs/fullfacescrub/
AdversarialFaceRecognition/training-images/
Assignment3/Archive 2/

# Keys
.pem

